<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <title>Express Pizza</title>
</head>

<body>
  <h1>Welcome To Express Pizza</h1>
  <nav>
    <h2>Specialty Pizza</h2>
    <ul>
      <li><a href="/specialty-pizza?name=Hawaiian Pizza&price=4.00">Hawaiian Pizza</a></li>
      <li><a href="/specialty-pizza?name=Spicy Pizza&price=3.00">Spicy Pizza</a></li>
      <li><a href="/specialty-pizza?name=Cheese Pizza&price=2.00">Cheese Pizza</a></li>
    </ul>
    <h2>Custom Pizza</h2>
    <a href="/builder">Build your own!</a>
    <h2>Leave a Review</h2>
    <a href="/review">Click here to leave a review</a>
    <img src="pizza.jpg"alt="Pizza!">
  </nav>
</body>

</html>