* {
    font-family: 'Pangolin', cursive;
}

body {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1 {
    color: black;
    font-size: 3em;
    align-items: center;
    align-content: center;
}

h2 {
    color: darkred;
    font-size: 2em;
    align-items: center;
    align-content: center;
}

p {
    font-size: 1.3em;
    align-items: center;
    align-content: center;
}

a {
    color: lightgray;
    text-decoration: none;
    align-items: center;
    align-content: center;
}

img {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#comment {
    padding: 50px;
    font-size: 1em;
}